body {
    font-family: 'Teko', sans-serif;
    padding: 0;
    margin: 0;
    
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  .producto-pedido img {
    display: none;
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .producto-pedido img {
        width: 5rem;
    }
    
  }
ul {
    list-style:none;
}
p {
    margin: 0;
}
.carousel {    
    height: 60%;
    margin-bottom: 0;
      }
  .carousel-inner, .carousel-inner > .item, .carousel-inner > .item > img {
    height: 70%;
    margin-top: 10px;    
  }

.card{
    margin-top: 7px;
}
#formContacto{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
}
#botonContacto{
    margin-top: 20px;
}
#carouselExampleCaptions {
    width: 80%; 
    margin: auto;
    position:relative;
    display:block;
    
   }
.contenedor {
    display: flex;
    height: 100vh;
}

.contenido-productos {
    flex: 1;
    overflow: auto;
}

#titulo {
    text-align: center;
    padding-bottom: 50px;
}

.texto {
    text-align: center;
}

#listado {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}

.producto {
    width: 250px;
    margin-right: 10px;
    list-style: none;
    cursor: pointer;
}

.producto img {
    width: 100%;
}

.imagen-producto {
    width: 10rem;
    height: 10rem;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.nombre {
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.precio {
    font-weight: 600;
    font-size: 24px;
}

.pedido {
    min-width: 120px;
    max-width: 120px;
    text-align: center;
    padding: 20px 0 0 0;
    background-color: #212529;
    position: fixed;
    color: white;
    right: -120px;
    top: 0;
    bottom: 0;
    transition: .3s;
}

.pedido.on {
    right: 0;
}

.boton-pedido {
    text-align: center;
    position: fixed;
    top: 8%;
    right: 2%;
    
    border-radius: 15%;
    background-color: rgb(255, 38, 0);
    color: white;
}

#pedido {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.total-pedido {
  padding: 10px 0;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
}

#total-pagar {
  font-size: 22px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}


.producto-pedido {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}


.descripcion-producto {
    text-align: left;
    padding: 20px;
    color: white;
}

.boton-eliminar {
    cursor: pointer;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    color: white;
    position: relative;
    bottom: 20px;
    right: 20px;
    box-shadow: none;
    border: none;
}

.checkout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.checkout p {
  padding: 10px 0;
  color: rgb(47, 48, 45);
  font-size: 22px;
}

#pagar {
  font-size: 26px;
  color: chocolate;
  font-weight: 600;
}

#contenedorAlert{
    width: max-content;
}
#estilosCervezas{
    margin-right: 5%;
    margin-left: 10%;
}